<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Education_practice">
        <activity
            android:name=".SearchPageActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".ProductCardActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritePageActivity"
            android:exported="false" />
        <activity
            android:name=".OutdoorPageActivity"
            android:exported="false" />
        <activity
            android:name=".PopularPageActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".OtrLog"
            android:exported="false" />
        <activity
            android:name=".FPActivity"
            android:exported="false" />
    </application>

</manifest>